.Services-content-class{
    display:flex;
    justify-content: space-between;
    align-items: center !important;
}

@media (max-width: 768px) {
    .Services-content-class{
        flex-direction: column;
    }
}